/* ------------------------------ 
    ************** Table Of Content  ************** 
--------------------
                 
01. =Google Font
02. =Base
03. =Section padding margin
04. =Heading
05. =Main Button
06. =Header
07. =Footer
08. =BreadCrum


Font Size System 
-----------------
10px / 12px / 16px / 18px / 20px / 24px / 30px / 36px / 44px / 52px / 62px / 74px / 86px / 98px 

Spacing System 
-----------------
2px / 4px / 8px / 12px / 16px / 24px / 32px / 48px / 64px / 80px / 96px / 128px  

-------------------------------------------------------*/


/* Google Font Start ------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Spot Normal';
    src: url('../fonts/Spot-Normal.eot');
    src: url('Spot-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Spot-Normal.woff2') format('woff2'),
        url('../fonts/Spot-Normal.woff') format('woff'),
        url('../fonts/Spot-Normal.ttf') format('truetype'),
        url('../fonts/Spot-Normal.svg#Spot-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------- Google Font End ------------- */


/* Base Start ------------------------------ */

:root {
    --th-color-1: #F5E8C6;
    --th-color-2: #DA1934;
    --th-color-3: #009543;
    --th-color-4: #FCDE4A;
    --th-color-black: #071012;
    --font-family-1: 'Spot Normal';
    --font-family-2: 'Libre Franklin', sans-serif;
    --font-family-3: 'Chau Philomene One', sans-serif;
}

/* html {
    font-size: 62.5%;
} */

body {
    background-color: var(--th-color-1);
    overflow-x: hidden;
}

.row {
    padding: 0 !important;
}


a {
    text-decoration: none;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 400;
    line-height: 109.7%;
    /* 114.088px */
    margin-bottom: 24px;
}

p {
    font-family: var(--font-family-2);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.th-box-shadow {
    box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 1);
}

.th-h1 {
    font-size: 104px;
}

.th-h2 {
    font-size: 64px;
}

.th-h3 {
    font-size: 56px;
}

.th-h4 {
    font-size: 30px;
}

.th-p-1 {
    color: var(--th-color-1);
    line-height: 28px;
    margin-bottom: 30px;
    /* 177.778% */
}

.th-p-2 {
    color: var(--th-color-black);
    line-height: 109.7%;
    margin-bottom: 30px;
    /* 177.778% */
}

.th-btn {
    color: #F5E8C6;
    font-family: var(--font-family-1);
    font-size: 24px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid var(--th-color-black);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22),
        1px 0px 0px 0px rgba(0, 0, 0, 0.22),
        1px 2px 0px 0px rgba(0, 0, 0, 0.22),
        2px 1px 0px 0px rgba(0, 0, 0, 0.22),
        2px 3px 0px 0px rgba(0, 0, 0, 0.22),
        3px 2px 0px 0px rgba(0, 0, 0, 0.22),
        3px 4px 0px 0px rgba(0, 0, 0, 0.22),
        4px 3px 0px 0px rgba(0, 0, 0, 0.22),
        4px 5px 0px 0px rgba(0, 0, 0, 0.22),
        5px 4px 0px 0px rgba(0, 0, 0, 0.22),
        5px 6px 0px 0px rgba(0, 0, 0, 0.22),
        6px 5px 0px 0px rgba(0, 0, 0, 0.22),
        6px 7px 0px 0px rgba(0, 0, 0, 0.22),
        7px 6px 0px 0px rgba(0, 0, 0, 0.22),
        7px 8px 0px 0px rgba(0, 0, 0, 0.22),
        8px 7px 0px 0px rgba(0, 0, 0, 0.22);
}

.th-btn-1 {
    color: var(--th-color-1);
    background-color: var(--th-color-2);
}

.th-btn-2 {
    color: var(--th-color-black);
    background-color: var(--th-color-1);
}

.row {
    padding: 0;
}

.top-section {
    padding: 200px 0 100px 0 !important;
    position: relative;
    z-index: 1;
}

.top-heading {
    color: var(--th-color-black);
    font-family: var(--font-family-1);
    font-size: 180px;
    font-weight: 400;
    line-height: 109.7%;
    /* 213.601px */
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    max-height: 100px;
    width: 100%;
    transition: all .5s;
}

header .navbar-brand img {
    width: 100%;
    max-width: 109px;
    transition: all .5s;
}

header.active .navbar-brand img {
    max-width: 70px;
}

header#header.active {
    max-height: 80.48px;
}

header[data-header-bg="red"].active {
    background-color: var(--th-color-1);
}

header[data-header-bg="white"].active {
    background-color: var(--th-color-2);
}

.menu-btn {
    color: var(--th-color-2);
    font-family: var(--font-family-3);
    font-size: 21.424px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid var(--th-color-2);
    box-shadow: 8px 3px 0px var(--th-color-2);
    background-color: var(--th-color-1);
    border-radius: 50px;
    padding: 4px 40px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s;
}

.light-header .menu-btn {
    color: var(--th-color-black);
    border: 2px solid var(--th-color-black);
    box-shadow: 8px 3px 0px var(--th-color-black);
    background-color: var(--th-color-1);
}

.navbar-cus {
    width: 100%;
    height: 100%;
    background-color: var(--th-color-1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.navbar-cus.active {
    opacity: 1;
    visibility: visible;
}

.nav-container {
    position: relative;
    width: 80%;
}

.close-btn {
    width: 100%;
    text-align: end;
}

.close-btn .fal {
    font-size: 30px;
    cursor: pointer;
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items ul li {
    text-align: center;
}

.nav-items ul li a {
    color: #000;
    font-family: var(--font-family-1);
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.nav-items ul li a svg{
    opacity: 0;
    transition: all .5s;
}

/* .nav-link-1,
.nav-link-2,
.nav-link-3,
.nav-link-4 {
} */
.nav-link-1:hover a svg,
.nav-link-2:hover a svg,
.nav-link-3:hover a svg,
.nav-link-4:hover a svg{opacity: 1 !important;}


/* .nav-link-1:hover,
.nav-link-3:hover {
    border-bottom: 2px solid var(--th-color-4);
}

.nav-link-2:hover,
.nav-link-4:hover {
    border-bottom: 2px solid var(--th-color-2);
} */

/* .close-btn{
    position: absolute;
    top: 0;
    right: 0;
} */
/* .menu-btn:hover{
    color: var(--th-color-1);
    background-color: var(--th-color-2);
} */
/* Scroll Bar style start */
/* 
::-webkit-scrollbar {
    width
    width: 10px;
}

::-webkit-scrollbar:hover {
    width: 50px;
}

 ::-webkit-scrollbar-track {
    Track  background-color: ;
}

 ::-webkit-scrollbar-thumb {
    Handle  background-color: ;
} */


/* Scroll Bar style End */


/* ------------- base End ------------- */


/* Banner Scetion Start ------------------------------ */
.banner {
    padding: 100px 0;
}

.banner #smiley {
    position: relative;
    transform: translateY(-10px);
}

#carouselExampleSlidesOnly {
    position: relative;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22),
        1px 0px 0px 0px rgba(0, 0, 0, 0.22),
        1px 2px 0px 0px rgba(0, 0, 0, 0.22),
        2px 1px 0px 0px rgba(0, 0, 0, 0.22),
        2px 3px 0px 0px rgba(0, 0, 0, 0.22),
        3px 2px 0px 0px rgba(0, 0, 0, 0.22),
        3px 4px 0px 0px rgba(0, 0, 0, 0.22),
        4px 3px 0px 0px rgba(0, 0, 0, 0.22),
        4px 5px 0px 0px rgba(0, 0, 0, 0.22),
        5px 4px 0px 0px rgba(0, 0, 0, 0.22),
        5px 6px 0px 0px rgba(0, 0, 0, 0.22),
        6px 5px 0px 0px rgba(0, 0, 0, 0.22),
        6px 7px 0px 0px rgba(0, 0, 0, 0.22),
        7px 6px 0px 0px rgba(0, 0, 0, 0.22),
        7px 8px 0px 0px rgba(0, 0, 0, 0.22),
        8px 7px 0px 0px rgba(0, 0, 0, 0.22);
    position: relative;
    transform: rotate(-19.54deg);
}

/* ------------- Banner Scetion  End ------------- */


/* offer Scetion Start ------------------------------ */
.offer {
    margin-top: 50px;
}

.offer-left {
    background-image: url(../image/offer-1-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 150px 0px;

}

.offer-right .th-h3,
.offer-right .th-p-2 {
    color: #fff;
}

.offer-right {
    background-image: url(../image/offer-2-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 150px 0px;
}

.about-container {
    background: var(--th-color-2);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------- offer Scetion  End ------------- */

/* About Us Scetion Start ------------------------------ */
.about-container {
    padding: 100px 0 50px 0;
    position: relative;
    top: -100px;
    z-index: -1;
}

.about-text .th-h2 {
    color: #fff;
}

.about-img {
    padding: 80px 0px 0px 80px;
}

.about-img img {
    /* width: ; */
    position: relative;
    transform: rotate(25deg);
}

/* ------------- About Us Scetion  End ------------- */

/* Category Scetion Start ------------------------------ */
.category-box {
    position: relative;
    /* padding: 20px; */
    transform: rotate(0deg);
    transition: all .5s;
}

.category-box:hover {
    transform: rotate(14deg);
}

.category-box-last:hover {
    transform: rotate(0deg);
}

.category-box:hover .category-overley {
    opacity: 100;
}

.category-overley {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    opacity: 0;
    transition: all .5s;
}

.category-overley .th-h3 {
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-14deg);

}

/* ------------- Category Scetion  End ------------- */

/* Bestseller Scetion Start ------------------------------ */
.bestseller {
    margin-top: 100px;
    padding: 40px;
}

.bestseller-box {
    position: relative;
    padding: 70px 50px;
    text-align: center;
    border-radius: 30px;
    transition: all .5s;
    background-color: transparent;
    /* cursor: pointer; */
}

#bestseller-img {
    width: 100%;
    max-width: 160px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.col-sm-6:nth-child(1) .bestseller-box:hover {
    background-color: #FCDE4A;
}

.col-sm-6:nth-child(2) .bestseller-box:hover {
    background-color: #DA1934;
}

.col-sm-6:nth-child(3) .bestseller-box:hover {
    background-color: #009543;
}

.bestseller-box img {
    width: 100%;
    position: relative;
    transform: scale(1);
    transition: all .5s;
}

.bestseller-box:hover img {
    transform: scale(1.05);
}

.bestseller-box .th-h4 {
    margin: 20px 0 10px;
}

.bestseller-box .th-btn-1,
.bestseller-box .th-btn-2 {
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.bestseller-box:hover .th-btn-1,
.bestseller-box:hover .th-btn-2 {
    opacity: 100;
    visibility: visible;
}

/* ------------- Bestseller Scetion  End ------------- */

/* Testimonal Scetion Start ------------------------------ */
.testimonal {
    background-color: var(--th-color-2);
    padding: 50px;
}

.testimonal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.testimonal-box img {
    width: 100px;
}

.testimonal-box p.th-p-1 {
    font-size: 18px;
    margin: 0;
}

.testimonal-box .test-star {
    margin: 20px 0;
    font-size: 22px;
    color: var(--th-color-4);
}

/* ------------- Testimonal Scetion  End ------------- */

/* Delivery Scetion Start ------------------------------ */
.delivery {
    padding: 100px 0;
}

/* ------------- Delivery Scetion  End ------------- */

footer {
    background-color: var(--th-color-2);
    padding: 50px 0 0 0;
}

footer .foot-link i,
.f-s-text,
.f-s-icon a i {
    color: var(--th-color-1);
    font-size: 16px;
    margin-right: 10px;
}

footer .foot-link a {
    color: var(--th-color-1);
    font-family: var(--font-family-2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer-img img {
    max-width: 300px;
}

.foot-bottom-link {
    text-align: center;
    flex: 1 1;
}

.foot-bottom-link a,
.mediax-link a {
    text-align: center;
    color: var(--th-color-1);
    font-family: var(--font-family-2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


/* About Page Scetion  Start ------------- */
.about-top {
    background-color: var(--th-color-4);
}

.our-goal {
    padding: 100px 0;
    background-color: var(--th-color-4);
}

.our-goal .th-p-2 {
    line-height: 150%;
}


.about-marqee {
    margin-top: 120px;
    background-image: url(../image/marqee.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.marqee-box {
    height: 730px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.marqee-box marquee {
    color: #000;
    font-family: var(--font-family-1);
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    background-color: var(--th-color-1);
    line-height: 109.7%;
    /* 87.76px */
    padding: 10px 0;
    text-transform: uppercase;
}

.order-to-delivery {
    background-color: var(--th-color-3);
    padding: 100px 0;
}

.order-to-delivery .th-h2 {
    color: var(--th-color-4);
    text-transform: uppercase;
}

.order-box {
    padding: 0 10px;
}

.order-box h4 {
    font-family: var(--font-family-2);
    margin: 15px 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--th-color-1);
}

.order-box .th-p-1 {
    line-height: 120%;
}

.mission-container {
    width: 100%;
    max-width: 740px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}

.mission-container .mission-box {
    width: 240px;
    height: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;

}

.mission-container #mission-box-1,
.mission-container #mission-box-4 {
    background-color: var(--th-color-4);
    color: var(--th-color-2);
}

.mission-container #mission-box-2,
.mission-container #mission-box-3 {
    background-color: var(--th-color-3);
    color: var(--th-color-1);
}

.mission-container #mission-box-2 {
    transform: rotate(27.17deg);
}

.mission-container .mission-box .mission-box-p {
    font-family: var(--font-family-2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.our-mission {
    background-color: var(--th-color-2);
    padding: 100px 0;
}

.our-mission .th-h1 {
    font-size: 120px;
    color: #fff;
}

/* ------------- About Page Scetion End ------------- */

/* Contact Page Scetion  Start ------------- */
.contact-top {
    background-color: var(--th-color-2);
    position: relative;
    z-index: 1;
}

.contact-top .top-heading {
    color: var(--th-color-4);

}

.contact-con {
    transform: rotate(35deg);
}

.contact-slider {
    width: 90%;
}

.contact-top .con-title,
.contact-top .con-link,
.contact-top .con-link a {
    color: #F5E8C6;
    font-family: var(--font-family-2);
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    /* 177.778% */
    letter-spacing: 0.36px;
}

.contact-top .con-link,
.contact-top .con-link a {
    font-weight: 500;
}

.contact-con {
    min-height: 440px;
    max-height: 440px;
}

/* ------------- Contact Page Scetion End ------------- */

/* Faq Scetion Start ------------------------------ */

.faq {
    padding: 80px 0;
}

.faq-left .th-h1 {
    color: var(--th-color-2) !important;
}

.faq-tab {
    border-top: 2px solid var(--th-color-black);
    border-bottom: 2px solid var(--th-color-black);
    margin: 0 0 20px 0;
    padding: 20px;
}

.faq-tab .th-p {
    padding: 20px;
    /* transition: all .5s; */
}

.faq-tab span:nth-child(1) {
    color: var(--th-color-black);
    font-family: Libre;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 78.125% */
}

.faq-tab span:nth-child(2),
.faq-p {
    color: var(--th-color-black);
    font-family: var(--font-family-2);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    /* 104.167% */
}

.faq-tab .fa-caret-circle-down {
    color: var(--th-black);
    font-size: 25px;
    transform: rotate(0);
    transition: all .5s;
}

.faq-tab.active .fa-caret-circle-down {
    transform: rotate(180deg);

}

.faq-tab-h {
    cursor: pointer;
}

/* ------------- Faq Scetion  End ------------- */

/* Feedback Scetion Start ------------------------------ */
.red {
    color: var(--th-color-2) !important;
}

.feedback,
.map {
    padding: 60px 0 80px;
}

.feedback .th-h1 {
    color: var(--th-color-2);
}

.form-con {
    position: relative;
    padding: 10px 20px;
}

.form-con .input-field {
    width: 100%;
    border: 2px solid var(--th-color-2);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}

.form-con textarea.input-field {
    min-height: 218px;
}
textarea.input-field:focus + .submit-btn{
    opacity: 1;
}
.form-con .submit-btn {
    background-color: var(--th-color-2);
    color: var(--th-color-1);
    padding: 6px 30px;
    border: none;
    font-size: 22px;
    border-radius: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: all .5s;
}

.form-con .submit-btn:hover {
    background-color: #da1933d5;
}

/* ------------- Feedback Scetion  End ------------- */

.our-meun {
    padding: 200px 0 50px 0;
}